*.ts filter=lfs diff=lfs merge=lfs -text
*.xiz filter=lfs diff=lfs merge=lfs -text
*.qm filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.xpf filter=lfs diff=lfs merge=lfs -text
*.mmp filter=lfs diff=lfs merge=lfs -text
*.mmpz filter=lfs diff=lfs merge=lfs -text
*.mpt filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
data/themes/*/style.css filter=lfs diff=lfs merge=lfs -text
